@font-face {
  font-family: 'Coiny';
  src: url(./fonts/Coiny/Coiny-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ThasadithBold';
  src: url(./fonts/Thasadith/Thasadith-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'ThasadithRegular';
  src: url(./fonts/Thasadith/Thasadith-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

$Coiny: 'Coiny';
$Thasadith: 'ThasadithBold';

body {
  font-family: $Coiny;
  margin: 0;
  padding: 0;
  width: 1920px;
}

.header {
  font-family: $Thasadith;
}
